{
  "env": {
    "commonjs": {
      "presets": [
        "stage-1",
        "react",
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie >= 11"]
          }
        }]
      ],
      "plugins": [
        "transform-runtime",
        "transform-class-properties"
      ]
    },
    "es": {
      "presets": [
        "stage-1",
        "react",
        ["env", {
          "modules": false,
          "targets": {
            "browsers": ["last 2 versions", "ie >= 10"]
          }
        }]
      ],
      "plugins": [
        "transform-runtime",
        "transform-class-properties"
      ]
    }
  }
}
