{
  "plugins": ["react", "prettier"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": 0
  }
}
